<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"
          type="text/css"
          media="only screen and (min-width: 800px) and (min-device-width: 600px"
          href="/stylesheets/wide.css"/>
    <link rel="stylesheet"
          type="text/css"
          media="only screen and (max-width: 480px)"
          href="/stylesheets/smartphone.css"/>
</head>
<body>
<div id="page">
    <header class="main" id="mainHeader">
        <h2>The Quiz Site</h2>
    </header>

    <nav class="main" id="mainNav" role="navigation">
        <a href="/">Home</a>
        <a href="/author">Author</a>
    </nav>

    <selection class="main" id="mainSelection">
        <div>
            <%- body %>
        </div>
    </selection>
    <footer class="main" id="mainFooter">
        <a href="http://en.wikipedia.org/wiki/Quiz">
                What isa Quiz?
        </a>
    </footer>
</div>
</body>
</html>